body {
    margin: 0;
}

.myContainer {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 0px;
    height: 10%;
    background-color: #ffdecb;
    color: #4d4d4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}

.navDiv {
    display: flex;
    justify-content: space-around;
    background-color: #FFBF9B;
}

.nav {
    display: flex;
    

}

.nav * {
    background-color: #FFBF9B;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 25%;
}
.nav  :focus{
    background-color: #ffdecb;
    cursor: pointer;
}

.searchDiv {
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
}


  input[type="text"] {
    flex-grow: 2;
    border: none;
    outline: none;
    padding: 8px 12px;
    /* border-radius: 25px; */
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}


input[type="button"] {
    padding: 8px 15px;
    border: none;
    outline: none;
    /* border-radius: 25px; */
    cursor: pointer;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.main {
    /* margin-top: 0px; */
    background-color: beige;
    
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    /* gap: 10px;  */

}


.product {
    max-width: 50px;
}


.product-card {
    display: flex;
    max-width: 15rem;
    background-color: #FFBF9B;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 10px;
    

    display: flex; 
    flex-direction: column;

    box-shadow: 1px 2px 1px rgba(2, 2, 3, 5);
}

.product-card img {
    max-width: 50px;
    padding-bottom: 5px; 
     
}


.productDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px
}


.productDetails img{
    max-height: 100px;
    float: left;
}


.productDetails div{
    margin: 30px;
}

.footer {
    margin-bottom: 0;
    height: 40px;
    background-color:#4d4d4d;
}


.header i{
    margin: 15px;
}

.header i:hover {
    cursor: pointer;
    font-size: 20px;
}



.form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}



.divImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}
 

.icons hr{
    height: 3px;
    background-color:#4d4d4d;
}
.icons i{
    padding: 10px;
    margin: 5px;
}
 .icons span{
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px;
 }
.icons *:hover{
    background-color: #ffdecb;
    border: 1px solid;
    border-radius: 50%;
    margin:2px ;
    
}
.form{
    display: flex;
}

.title1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title1 i{
    margin: 20px;
}